.product-page .image-wrapper {
    height: 250px;
    justify-content: center;
}

.product-page .image-wrapper img {
    height: 100%;
}

.product-info {
    background:#F9FBF7 !important;
    border-radius: 1rem !important;
    transform: translateY(2rem);
    padding: 0.2rem 0.5rem;
    cursor: pointer;
}


@media (max-width: 768px) {
    .product-page .image-wrapper {
        width: 100%;
        height: auto;
        justify-content: start;
    }

    .product-page .image-wrapper img {
        width: 100%;
        height: auto;
    }

    .product-page .product-info {
        flex-direction: column;
    }

    .product-page .product-details {
        margin-top: 1.5rem;
    }
}